@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
	background-color: #25242a;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.header {
}
.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	max-height: 60px;
}
.header__logo {
	font-size: 32px;
}

.header__logo:visited{
	color: inherit;
}

.header__search {
	padding: 8px;
	background-color: white;
	border: 2px solid #25242a;
	border-radius: 5px;
	outline: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
.movies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.movie {
	max-width: 240px;
	margin: 10px;
	position: relative;
}
.movie__cover-inner {
	position: relative;
	max-height: 360px;
}
.movie__cover {
	max-width: 100%;
	height: 100%;
}

.movie__cover:hover{
	transform: translateY(-15px);
}
.movie__info {
	padding: 10px 0;
}
.movie__title {
	font-size: 16px;
}
.movie__category {
	font-size: 14px;
	max-width: 240px;
	/* word-wrap: break-word; */
}
.movie__average {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1a191f;
	font-size: 14px;
}
.movie__average--green {
	border: 1px solid green;
}

.movie__average--orange {
	border: 1px solid orange;
}

.movie__average--red {
	border: 1px solid red;
}